[submodule "a4kSubtitles"]
	path = a4kSubtitles
	url = https://github.com/a4k-openproject/a4kSubtitles
[submodule "repo/subdl_kodi"]
	path = repo/subdl_kodi
	url = https://github.com/anhdwk/subdl_kodi
[submodule "subdl_kodi"]
	path = subdl_kodi
	url = https://github.com/anhdwk/subdl_kodi
[submodule "repo/repository.icy/subdl_kodi"]
	path = repo/repository.icy/subdl_kodi
	url = https://github.com/anhdwk/subdl_kodi
